@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f3fcfd; /* 원하는 배경색의 HEX 코드를 사용 */
}

.link {
    text-decoration: none;
}

.maintitle {
    text-align: center;
    font-size: 50px;
    font-family: 'PuradakGentleGothicR', sans-serif;
    color: #e1b1ff;
}

.h4st {
    margin: 0;
    text-align: center; 
    color: #e1b1ff;
    margin-right: 150px;
    line-height: 20px;
    font-family: 'PuradakGentleGothicR', sans-serif;

}

.container {
    display: flex;
    align-items: center; /*세로 중앙 정렬 */
    justify-content: center; /*가로 중앙 정렬 */
    background-color: rgba(245, 248, 255, 0.4);
    width: 1100px;
    height: 280px;
    margin: 0 auto;
}

.transparent-box {
    display: flex;
    align-items: center; /*세로 중앙 정렬 */
    justify-content: center; /*가로 중앙 정렬 */
    text-align: left; /* 내부 요소 중앙 정렬*/
    padding: 0px; /* 안쪽 여백조절*/
    margin-right: 20px; /* 각 사각형을 오른쪽으로 20px씩 띄웁니다. */
}

.round-box {
    background-color: #ffffff; /* 버튼 배경색 설정 */
    border-radius: 10px; /* 모서리를 둥글게 만듭니다. */
    width: 200px; /* 버튼의 너비를 설정합니다. */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-box h4 {
    margin: 30px; /* 기본 마진을 제거합니다. */
    color: #b1d7ff;
    font-family: 'PuradakGentleGothicR', sans-serif;
}

.transparent-box button {
    background-color: #ffffff; /* 버튼 배경색 설정 */
    color: #e1b1ff; /* 버튼 텍스트 색 설정 */
    padding: 10px 20px; /* 버튼 패딩 설정 */
    border: none; /* 버튼 테두리 제거 */
    margin: 0; /* 버튼 사이 여백 설정 */
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.image-container {
    text-align: center;
}

.gif-container img{
    width : 1800px;
    height : 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 움짤을 다른 요소 위에 배치 */
    opacity: 0.15;
}
