@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFFFF0; /* 원하는 배경색의 HEX 코드를 사용 */
}

.link {
    text-decoration: none;
}

.maintitle {
    text-align: center;
    font-size: 50px;
    font-family: 'PuradakGentleGothicR', sans-serif;
    color: #9ACD32;
}

.h4st {
    margin: 0;
    color: #9ACD32;
    margin-right: 150px;
    line-height: 20px;
    font-family: 'PuradakGentleGothicR', sans-serif;

}

.container {
    display: flex;
    align-items: center; /*세로 중앙 정렬 */
    justify-content: center; /*가로 중앙 정렬 */
}

.transparent-box {
    background-color: rgba(255, 250, 240, 0.4);
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    text-align: left; /* 내부 요소 중앙 정렬*/
    padding: 0px; /* 안쪽 여백조절*/
}

.transparent-box button {
    background-color: #ffffff; /* 버튼 배경색 설정 */
    color: #9ACD32; /* 버튼 텍스트 색 설정 */
    padding: 10px 20px; /* 버튼 패딩 설정 */
    border: none; /* 버튼 테두리 제거 */
    margin: 30px; /* 버튼 사이 여백 설정 */
    font-family: 'GmarketSansMedium', sans-serif;
}

.image-container {
    text-align: center;
}

.image-container img {
    width : 800px;
    height : 500px;
}

.gif-container img{
    width : 1800px;
    height : 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 움짤을 다른 요소 위에 배치 */
    opacity: 0.5;
}
